.center {
  text-align: center;
}

.accesskey {
  text-decoration: underline;
}

input[type=text], input[type=url] {
  width: 100%;
}

#url-width, #enabled-url-width {
  width: 29%;
}

#title-width {
  width: 17%;
}

#enabled-width, #redirect-always-width, #favicon-width {
  width: 5%;
}

#remove-width {
  width: 5%;
}

#drag-width {
  width: 5%;
}

.hidden {
  display: none;
}

th {
  text-align: center;
}

td {
  padding: 0 10px 0 10px;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 10px 0 0 0;
}

#save-div {
  margin-top: 25px;
}

#other-options {
  margin: 10px 0 0px 0;
}

iframe {
  visibility: hidden;
  width: 0;
  height: 0;
}

#import-button {
  display: none;
}

.favicon-button {
  border: 1px solid #ccc;
  display: flex;
  margin: auto;
  padding: 0px 5px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.enabled-input {
  display: flex;
  margin: auto;
}

.invalid-regex {
  background-color: #ff000040;
}
