.center {
  text-align: center;
}

.accesskey {
  text-decoration: underline;
}

input[type=text], input[type=url] {
  width: 100%;
}

#url-width, #enabled-url-width {
  width: 34%;
}

#title-width {
  width: 17%;
}

#enabled-width {
  width: 5%;
}

#remove-width {
  width: 10%;
}

.hidden {
  display: none;
}

th {
  text-align: center;
}

td {
  padding: 0 10px 0 10px;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 10px 0 0 0;
}

:root {
  --row-move-highlight-size: 0;
}

tr:hover td, tr:hover th  {
  border-bottom: calc(var(--row-move-highlight-size) * 1px) dashed blue;
}

#save-div {
  margin-top: 25px;
}

#other-options {
  margin: 10px 0 0px 0;
}

iframe {
  visibility: hidden;
  width: 0;
  height: 0;
}

#import-button {
  display: none;
}
