.center {
  text-align: center;
}

.accesskey {
  text-decoration: underline;
}

input[type=text], input[type=url] {
  width: 100%;
}

.hidden {
  display: none;
}

th {
  text-align: center;
  background: no-repeat right url(resize.png);
}

td {
  padding: 0 10px 0 10px;
  text-align: center;
}

table {
  table-layout: auto;
  width: 100%;
  margin: 10px 0 0 0;
}

#save-div {
  margin-top: 25px;
}

#other-options {
  margin: 10px 0 0px 0;
}

iframe {
  visibility: hidden;
  width: 0;
  height: 0;
}

#import-button {
  display: none;
}

.favicon-button {
  border: 1px solid #ccc;
  display: flex;
  margin: auto;
  padding: 0px 5px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.enabled-input {
  display: flex;
  margin: auto;
}

.header-row th {
  cursor: pointer;
}

#help-row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
