body {
  margin: 5px;
}

hr {
  width: 95%;
}

div {
  text-align: center;
}

#redirections button {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#redirections {
  margin-bottom: 10px;
}

body.mobile button {
  height: 40px;
  margin-bottom: 5px;
}

img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.row {
  display: flex;
  margin-bottom: 5px;
}

.placeholder {
  width: 45px;
  height: 32px;
}
